<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Web Labs | v 0.0001b</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/mode-html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/mode-javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/mode-java.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/mode-properties.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/mode-sh.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ext-beautify.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
    <style>
        .active {
            background-color: lightcyan;
            font-weight: bold;
        }
        thead>tr>td {
            text-align: center;
        }
    </style>
</head>
<body class="container-fluid pt-4 w-75" style="height: 100%">
    <div id="app" >
        <router-view></router-view>
        <h3 style="text-align: center">Звіт з лабораторних робіт з дисципліни "Розробка Веб-Застосуваннь"</h3>
        <h5 style="text-align: center">Бригада №___ . Студенти групи ZPI-ZP11.</h5>
        <p>
            <div>
                <table class="table table-bordered" style="height: 72vh;">
                    <thead>
                        <tr>
                            <td :class="{ 'active' : $router.currentRoute.path === '/lab01'}"><router-link to="/lab01">Лабораторна робота №1</router-link></td>
                            <td :class="{ 'active' : $router.currentRoute.path === '/lab02'}"><router-link to="/lab02">Лабораторна робота №2</router-link></td>
                            <td :class="{ 'active' : $router.currentRoute.path === '/lab03'}"><router-link to="/lab03">Лабораторна робота №3</router-link></td>
                            <td :class="{ 'active' : $router.currentRoute.path === '/lab04'}"><router-link to="/lab04">Лабораторна робота №4</router-link></td>
                            <td :class="{ 'active' : $router.currentRoute.path === '/lab05'}"><router-link to="/lab05">Лабораторна робота №5</router-link></td>
                            <td :class="{ 'active' : $router.currentRoute.path === '/lab06'}"><router-link to="/lab06">Лабораторна робота №6</router-link></td>
                            <td :class="{ 'active' : $router.currentRoute.path === '/lab07'}"><router-link to="/lab07">Лабораторна робота №7</router-link></td>
                            <td :class="{ 'active' : $router.currentRoute.path === '/lab08'}"><router-link to="/lab08">Лабораторна робота №8</router-link></td>
                            <td :class="{ 'active' : $router.currentRoute.path === '/lab09'}"><router-link to="/lab09">Лабораторна робота №9</router-link></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <!-- Лаб 1, меню-->
                                <ol v-if="$router.currentRoute.path=='/lab01'" style="list-style-type: disc">
                                    <li><router-link :to="$router.currentRoute.path+'?description=1'">Опис предметного середовища</router-link></li>
                                    <li><router-link :to="$router.currentRoute.path+'?topic=1'">Тема, Мета</router-link>
                                        <ol style="list-style-type: circle; padding-bottom: 0;">
                                            <li><router-link :to="$router.currentRoute.path+'?work=1'">Проект</router-link></li>
                                        </ol>
                                    </li>
                                    <li>
                                        Структура документа:
                                        <ol style="list-style-type: circle; padding-bottom: 0;">
                                            <li><router-link :to="$router.currentRoute.path+'?source_html=1'">Html-код Таблиць</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?source_form=1'">Html-код Форми</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?source_image=1'">Html-код Зображення</router-link></li>
                                        </ol>
                                    </li>
                                    <li>
                                        <router-link :to="$router.currentRoute.path+'?conclusions=1'">Висновки</router-link>
                                    </li>
                                </ol>
                                <!-- Лаб 2, меню-->
                                <ol v-if="$router.currentRoute.path=='/lab02'" style="list-style-type: disc">
                                    <li><router-link :to="$router.currentRoute.path+'?topic=1'">Тема, Мета</router-link>
                                        <ol style="list-style-type: circle; padding-bottom: 0;">
                                            <li><router-link :to="$router.currentRoute.path+'?work=1'">Проект</router-link></li>
                                        </ol>
                                    </li>
                                    <li>
                                        Частини проекта:
                                        <ol style="list-style-type: circle; padding-bottom: 0;">
                                            <li><router-link :to="$router.currentRoute.path+'?source_lists=1'">Списки</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?source_identificators=1'">Ідентифікатори</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?source_indents=1'">Відступи</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?source_floats=1'">Плаваючі елементи</router-link></li>
                                            <li>
                                                Селектори
                                                <ol style="list-style-type: circle; padding-bottom: 0;">
                                                    <li><router-link :to="$router.currentRoute.path+'?source_selectors_tagsclasses=1'">Селектори тегу і класу</router-link></li>
                                                    <li><router-link :to="$router.currentRoute.path+'?source_selectors_attrs=1'">Селектори атрибутів</router-link></li>
                                                    <li><router-link :to="$router.currentRoute.path+'?source_selectors_other=1'">Інші селектори</router-link></li>
                                                    <li><router-link :to="$router.currentRoute.path+'?source_selectors_mix=1'">Групування селекторів</router-link></li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <router-link :to="$router.currentRoute.path+'?conclusions=1'">Висновки</router-link>
                                    </li>
                                </ol>
                                <!-- Лаб 3, меню-->
                                <ol v-if="$router.currentRoute.path=='/lab03'" style="list-style-type: disc">
                                    <li><router-link :to="$router.currentRoute.path+'?topic=1'">Тема, Мета</router-link>
                                        <ol style="list-style-type: circle; padding-bottom: 0;">
                                            <li><router-link :to="$router.currentRoute.path+'?work=1'">Проект (таблиця)</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?work_bootstrap=1'">Проект (bootstrap)</router-link></li>
                                        </ol>
                                    </li>
                                    <li>
                                        Код проекта:
                                        <ol style="list-style-type: circle; padding-bottom: 0;">
                                            <li><router-link :to="$router.currentRoute.path+'?source_tables=1'">За допомогою таблиць</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?source_blocks=1'">За допомогою div (bootstrap)</router-link></li>
                                        </ol>
                                    </li>
                                    <li>
                                        <router-link :to="$router.currentRoute.path+'?conclusions=1'">Висновки</router-link>
                                    </li>
                                </ol>
                                <!-- Лаб 4, меню-->
                                <ol v-if="$router.currentRoute.path=='/lab04'" style="list-style-type: disc">
                                    <li><router-link :to="$router.currentRoute.path+'?topic=1'">Тема, Мета</router-link>
                                        <ol style="list-style-type: circle; padding-bottom: 0;">
                                            <li><router-link :to="$router.currentRoute.path+'?work=1'">Проект</router-link></li>
                                        </ol>
                                    </li>
                                    <li>
                                        Завдання:
                                        <ol style="list-style-type: circle; padding-bottom: 0;">
                                            <li><router-link :to="$router.currentRoute.path+'?source_task_1=1'">Завдання 1 (Варіант 6)</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?source_task_2=1'">Завдання 2 (Календар)</router-link></li>
                                        </ol>
                                    </li>
                                    <li>
                                        <router-link :to="$router.currentRoute.path+'?conclusions=1'">Висновки</router-link>
                                    </li>
                                </ol>
                                <!-- Лаб 5, меню-->
                                <ol v-if="$router.currentRoute.path=='/lab05'" style="list-style-type: disc">
                                    <li><router-link :to="$router.currentRoute.path+'?topic=1'">Тема, Мета</router-link>
                                        <ol style="list-style-type: circle; padding-bottom: 0;">
                                            <li><router-link :to="$router.currentRoute.path+'?work=1'">Проект</router-link></li>
                                        </ol>
                                    </li>
                                    <li>
                                        Динамічні елементи:
                                        <ol style="list-style-type: circle; padding-bottom: 0;">
                                            <li><router-link :to="$router.currentRoute.path+'?source_accordion=1'">Accordion</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?source_datepicker=1'">Datepicker</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?source_tooltip=1'">Tooltip</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?source_gallery=1'">UniteGallery</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?source_socials=1'">Socials</router-link></li>
                                        </ol>
                                    </li>
                                    <li>
                                        <router-link :to="$router.currentRoute.path+'?conclusions=1'">Висновки</router-link>
                                    </li>
                                </ol>
                                <!-- Лаб 6, меню-->
                                <ol v-if="$router.currentRoute.path=='/lab06'" style="list-style-type: disc">
                                    <li><router-link :to="$router.currentRoute.path+'?topic=1'">Тема, Мета</router-link>
                                        <ol style="list-style-type: circle; padding-bottom: 0;">
                                            <li><router-link :to="$router.currentRoute.path+'?work=1'">Проект</router-link></li>
                                        </ol>
                                    </li>
                                    <li>
                                        Налаштування Backend:
                                        <ol style="list-style-type: circle; padding-bottom: 0;">
                                            <li><router-link :to="$router.currentRoute.path+'?source_spring=1'">Spring Boot Java Backend</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?source_controller=1'">Контроллери Backend обробки</router-link></li>
                                            <li><router-link :to="$router.currentRoute.path+'?source_deployment=1'">Розгортання та запуск</router-link></li>
                                        </ol>
                                    </li>
                                    <li>
                                        <router-link :to="$router.currentRoute.path+'?conclusions=1'">Висновки</router-link>
                                    </li>
                                </ol>
                            </td>
                            <td colspan="6">
                                <!-- Лаб 1, зміст-->
                                <div v-if="$router.currentRoute.path=='/lab01' && $router.currentRoute.query.description==1">
                                    Предметна область є математика. А саме допоміжні інструменти для розрахунків
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab01' && $router.currentRoute.query.topic==1">
                                    Тема: <b>Онлайн Калькулятор</b><p>
                                    Мета: Розробити Онлайн Калькулятор з широким набором функцій
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab01' && $router.currentRoute.query.work==1">
                                    Робота
                                    <iframe src="project/calc.html" style="border:none; width: 100%; height: 60vh"></iframe>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab01' && $router.currentRoute.query.source_html==1">
                                    Html-код Таблиць
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab01/table-sample.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab01' && $router.currentRoute.query.source_form==1">
                                    Html-код Форми
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab01/form-sample.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab01' && $router.currentRoute.query.source_image==1">
                                    Html-код Зображення
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab01/image-sample.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab01' && $router.currentRoute.query.conclusions==1">
                                    Висновки лаби 1
                                </div>
                                <!-- Лаб 2, зміст-->
                                <div v-if="$router.currentRoute.path=='/lab02' && $router.currentRoute.query.topic==1">
                                    Тема: <b>Онлайн Калькулятор</b><p>
                                    Мета: Розробити Онлайн Калькулятор з широким набором функцій
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab02' && $router.currentRoute.query.work==1">
                                    Робота
                                    <iframe src="project/calc.html" style="border:none; width: 100%; height: 60vh"></iframe>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab02' && $router.currentRoute.query.source_lists==1">
                                    Списки
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab02/lists-sample.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab02' && $router.currentRoute.query.source_identificators==1">
                                    Ідентифікатори
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab02/identificators-sample.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab02' && $router.currentRoute.query.source_indents==1">
                                    Відступи
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab02/indents-sample.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab02' && $router.currentRoute.query.source_floats==1">
                                    Плаваючі елементи
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab02/floats-sample.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab02' && $router.currentRoute.query.source_selectors_tagsclasses==1">
                                    Селектори тегу і класу
                                    <pre class="eCSS"  style="height: 60vh">{{load('lab02/tagsclasses-sample.css')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab02' && $router.currentRoute.query.source_selectors_attrs==1">
                                    Селектори атрибутів
                                    <pre class="eCSS"  style="height: 60vh">{{load('lab02/attrs-sample.css')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab02' && $router.currentRoute.query.source_selectors_other==1">
                                    Інші селектори
                                    <pre class="eCSS"  style="height: 60vh">{{load('lab02/other-sample.css')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab02' && $router.currentRoute.query.source_selectors_mix==1">
                                    Групування селекторів
                                    <pre class="eCSS"  style="height: 60vh">{{load('lab02/mix-sample.css')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab02' && $router.currentRoute.query.conclusions==1">
                                    Висновки лаби 2
                                </div>
                                <!-- Лаб 3, зміст-->
                                <div v-if="$router.currentRoute.path=='/lab03' && $router.currentRoute.query.topic==1">
                                    Тема: <b>Онлайн Калькулятор</b><p>
                                    Мета: Розробити Онлайн Калькулятор з широким набором функцій
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab03' && $router.currentRoute.query.work==1">
                                    Робота (Таблиці)
                                    <iframe src="project/calc.html" style="border:none; width: 100%; height: 60vh"></iframe>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab03' && $router.currentRoute.query.work_bootstrap==1">
                                    Робота (Bootstrap)
                                    <iframe src="lab03/calc.html" style="border:none; width: 100%; height: 60vh"></iframe>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab03' && $router.currentRoute.query.source_tables==1">
                                    За допомогою таблиць
                                    <pre class="eHtml"  style="height: 60vh">{{load('project/calc.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab03' && $router.currentRoute.query.source_blocks==1">
                                    За допомогою div (bootstrap)
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab03/calc.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab03' && $router.currentRoute.query.conclusions==1">
                                    Висновки лаби 2
                                </div>
                                <!-- Лаб 4, зміст-->
                                <div v-if="$router.currentRoute.path=='/lab04' && $router.currentRoute.query.topic==1">
                                    Тема: <b>Онлайн Калькулятор</b><p>
                                    Мета: Розробити Онлайн Калькулятор з широким набором функцій
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab04' && $router.currentRoute.query.work==1">
                                    Робота
                                    <iframe src="lab04/calc.html" style="border:none; width: 100%; height: 60vh"></iframe>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab04' && $router.currentRoute.query.source_task_1==1">
                                    Завдання 1 (Варіант 6)
                                    <pre class="eJS"  style="height: 60vh">{{load('lab04/task-1.js')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab04' && $router.currentRoute.query.source_task_2==1">
                                    Завдання 2 (Календар)
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab04/task-2.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab04' && $router.currentRoute.query.conclusions==1">
                                    Висновки лаби 4
                                </div>
                                <!-- Лаб 5, зміст-->
                                <div v-if="$router.currentRoute.path=='/lab05' && $router.currentRoute.query.topic==1">
                                    Тема: <b>Онлайн Калькулятор</b><p>
                                    Мета: Розробити Онлайн Калькулятор з широким набором функцій
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab05' && $router.currentRoute.query.work==1">
                                    <iframe src="lab05/calc.html" style="border:none; width: 100%; height: 80vh"></iframe>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab05' && $router.currentRoute.query.source_accordion==1">
                                    Accordion
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab05/accordion.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab05' && $router.currentRoute.query.source_datepicker==1">
                                    Datepicker
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab05/datepicker.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab05' && $router.currentRoute.query.source_tooltip==1">
                                    Tooltip
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab05/tooltip.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab05' && $router.currentRoute.query.source_gallery==1">
                                    UniteGallery
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab05/gallery.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab05' && $router.currentRoute.query.source_socials==1">
                                    Social Buttons
                                    <pre class="eHtml"  style="height: 60vh">{{load('lab05/socials.html')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab05' && $router.currentRoute.query.conclusions==1">
                                    Висновки лаби 5
                                </div>
                                <!-- Лаб 6, зміст-->
                                <div v-if="$router.currentRoute.path=='/lab06' && $router.currentRoute.query.topic==1">
                                    Тема: <b>Онлайн Калькулятор</b><p>
                                    Мета: Розробити Онлайн Калькулятор з широким набором функцій
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab06' && $router.currentRoute.query.work==1">
                                    <iframe src="lab06/calc.html" style="border:none; width: 100%; height: 80vh"></iframe>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab06' && $router.currentRoute.query.source_spring==1">
                                    <h6>Spring Boot Java Application</h6>
                                    <pre class="eJava"  style="height: 60vh">{{load('lab06/spring-app.java')}}</pre>
                                    <h6>Spring Boot Properties (src/main/resources/application.properties)</h6>
                                    <pre class="eProperties"  style="height: 60vh">{{load('lab06/application.properties')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab06' && $router.currentRoute.query.source_controller==1">
                                    <h6>Контроллери Backend обробки</h6>
                                    <pre class="eJava"  style="height: 60vh">{{load('lab06/calcController.java')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab06' && $router.currentRoute.query.source_deployment==1">
                                    <h6>Розгортання та запуск (виконується на Linux cервері)</h6>
                                    <pre class="eSh"  style="height: 60vh">{{load('lab06/restart.sh')}}</pre>
                                </div>
                                <div v-if="$router.currentRoute.path=='/lab06' && $router.currentRoute.query.conclusions==1">
                                    Висновки лаби 6
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9">
                                <!-- <small style="float: right">{{$router.currentRoute.path}} {{$router.currentRoute.query}}</small> -->
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </p>
    </div>
    <script type="application/javascript">
        function applyAce(selector,type) {
            $(selector).each((s,v)=>{
                const edi = ace.edit(v);
                edi.getSession().setMode("ace/mode/"+type);
                edi.session.setUseWorker(false);
                edi.setShowPrintMargin(false);
                edi.setReadOnly(true);
                edi.setOptions({
                    maxLines: edi.session.getLength()
                });
            })
        }
        const routes = [];
        const router = new VueRouter({
            routes
        });
        new Vue({
            el: '#app',
            router,
            methods: {
                load: function(src){
                    var res;
                    jQuery.ajax({
                        url: src,
                        success: function(html) {
                            res = html;
                        },
                        async:false
                    });
                    return res;
                }
            },
            watch: {
                $route(to, from) {
                    if  (Object.keys(to.query).findIndex((k)=>{return k.indexOf('source')>-1})>-1) {
                        location.reload();
                    }
                }
            }
        });
        applyAce('.eHtml','html')
        applyAce('.eCSS','css')
        applyAce('.eJS','javascript')
        applyAce('.eJava','java')
        applyAce('.eProperties','properties')
        applyAce('.eSh','sh')
</script>
</body>
</html>
